@use '@/styles/mixin/scrollbar' as *;
@use '@/styles/mixin/reponsive' as *;

.form-change-schedule-container {
   height: 70%;
   background: #e2e7eb;
   position: fixed;
   top: 15%;
   right: 25%;
   left: 25%;
   border-radius: 10px;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;

   h3 {
      text-align: center;
      margin: 30px 0;
      font-size: 20px;
      color: #333;
   }

   .table-wrapper {
      flex: 1;
      overflow-y: auto;
      max-height: 80%;
      @include custom-scrollbar();

      table {
         font-size: 15px;
         padding: 0 10px;
         thead {
            position: sticky;
            top: 0;
            background: #e2e7eb;
            th {
               padding-top: 20px;
               border-bottom: 1px solid #545454;
               font-weight: 600;
               color: #333;
            }
         }
         tbody {
            tr {
               td {
                  &:last-child {
                     cursor: pointer;
                     background-color: #cbe4ff;
                     width: 80px;
                     height: 50%;
                     text-align: center;
                     font-weight: 500;
                     border-radius: 4px;
                     transition: all 0.2s ease;
                     color: #333;

                     /* Trạng thái chưa chọn */
                     &.select-button {
                        background-color: #cbe4ff;
                        color: #333;
                        border: 1px solid #7f9cdb;
                        transition: background-color 0.3s ease, color 0.3s ease;

                        &:hover {
                        background-color: #1780d5;
                        color: white;
                     }
                     }

                     /* Trạng thái đã chọn */
                     &.active {
                        background-color: #1780d5;
                        color: white;
                        font-weight: 600;
                        border: 1px solid #1780d5;
                        transition: background-color 0.3s ease, color 0.3s ease;

                        &:hover {
                        background-color: #1780d5;
                        color: white;
                     }
                     }

                     /* Trạng thái disabled */
                     &.ds {
                        background-color: #d3d3d3; /* Màu nền nhạt */
                        color: #a9a9a9; /* Màu chữ nhạt */
                        border: 1px solid #ccc; /* Viền nhạt */
                        cursor: not-allowed; /* Đổi con trỏ thành "không cho phép" */
                        transition: background-color 0.3s ease, color 0.3s ease;

                        
                     }

                     
                  }
               }
            }
         }
      }
   }

   .group-button {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      button {
         margin: 20px 10px;
         padding: 10px;
         border: none;
         border-radius: 10px;
         width: 70px;
         cursor: pointer;
         color: white;
         font-size: 14px;
         transition: 0.2s all;

         &:disabled {
            background-color: #d3d3d3;
            cursor: not-allowed;
         }
      }

      .btn-close {
         background: #df0404;
         &:hover {
            background: #b60101;
            transform: scale(1.05);
         }
      }

      .btn-save {
         background: #27c840;
         &:hover {
            background: #1d962f;
            transform: scale(1.05);
         }
      }
   }
}

@include respond-to(lg) {
   .form-change-schedule-container {
      right: 20%;
      left: 20%;
   }
}

@include respond-to(md) {
   .form-change-schedule-container {
      right: 15%;
      left: 15%;
   }
}

@include respond-to(sm) {
   .form-change-schedule-container {
      right: 10%;
      left: 10%;
   }
}

@include respond-to(xs) {
   .form-change-schedule-container {
      right: 5%;
      left: 5%;
   }
}
