.main-layout-container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   position: relative;
}

.slideshow-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   z-index: -1;
}

.slideshow-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: opacity 0.5s ease-in-out;
   opacity: 1;

   &.fade {
      opacity: 0.3;
   }
}
