.header-tutor-container {
    width: 100%;
    height: 60px;
    background: #0388b4;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    // Style cho Logo
    .header-logo {
        height: 55px;
        width: auto;
        margin-right: 20px;
        object-fit: contain;
        cursor: pointer;
    }

    .header-tutor-content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-weight: 500;

        .content-left,
        .content-right {
            display: flex;
            height: 100%;
            align-items: center;
            gap: 5px;
        }

        .nav-item {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;

            background-color: transparent;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: rgba(4, 76, 200, 1);
            }

            .account-icon {
                height: 32px;
                width: auto;
                object-fit: contain;
                border-radius: 50%;
            }
        }
    }
}
